{% comment %}
	Renders product variant-picker

	Accepts:
	- product: {Object} product object.
	- block: {Object} passing the block information.
	- product_form_id: {String} Id of the product form to which the variant picker is associated.
	- update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
	Usage:
	{% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}

{% if product.has_only_default_variant == false %}
	{% assign size_text = 'general.size' | t | downcase %}
	<div class="product-parameters">
		{%- unless product.has_only_default_variant -%}
			<div class="product-parameters__item product-parameters__variant">
				{%- if block.settings.picker_type == 'button' -%}
					<variant-radios
						id="variant-radios-{{ section.id }}"
						class="no-js-hidden"
						data-section="{{ section.id }}"
						data-url="{{ product.url }}"
						{% if update_url == false %}
							data-update-url="false"
						{% endif %}
						{{ block.shopify_attributes }}
					>
						{%- for option in product.options_with_values -%}
							{% liquid
								assign optionName = option.name | escape | downcase
								assign name_option = option.name | handle | strip
								assign triggers_raw = settings.trigger_swatch | default: 'Color'
								assign trigger_list = triggers_raw | split: ','
								assign is_color_option = false
								for trigger_item in trigger_list
									assign trigger_handle = trigger_item | handle | strip
									if trigger_handle == name_option
										assign is_color_option = true
										break
									endif
								endfor
								assign color_trigger = name_option
								if is_color_option == false
									assign color_trigger = ''
								endif
						%}
							{%- if option.name == 'Color' or option.name == 'Colour' -%}{%- continue -%}{%- endif -%}
							<fieldset
								class="product-form__input product-form__input--radios"
								id="SingleOptionSelector-{{ forloop.index0 }}"
							>
								{% if optionName == size_text  and block.settings.show_size_guide %}<div class="product-form__group-size-heading">{% endif %}
								<legend class="product-form__group-name">
									{{ option.name }}
								</legend>
								{% if optionName == size_text 
									and block.settings.show_size_guide
								%}
									<modal-opener
										class="no-js-hidden adv-btn-opener"
										data-modal="#PopupModal-{{ block.id }}"
										{{ block.shopify_attributes }}
									>
										<button
											class="button button--simple size-guide-btn"
											id="ProductPopup-{{ block.id }}"
											type="button"
											aria-haspopup="dialog"
											aria-label="Open popup"
										>
											<span class="button-label">{{ block.settings.size_guide_text }}</span>

										</button>
									</modal-opener>
								{% endif %}
								{% if optionName == size_text 
									and block.settings.show_size_guide
								%}
									<modal-dialog
										id="PopupModal-{{ block.id }}"
										class="product-popup-modal size_guide_image_container"
										{{ block.shopify_attributes }}
									>
										<div
											role="dialog"
											aria-label="{{ block.settings.label }}"
											aria-modal="true"
											class="product-popup-modal__content"
											tabindex="-1"
										>
											<button
												id="ModalClose-{{ block.id }}"
												type="button"
												class="product-popup-modal__toggle modal-close-button"
												aria-label="{{ 'accessibility.close' | t }}"
											>
												{% render 'icon-close' %}
											</button>
											<div class="product-popup-modal__content-info">
												{% if block.settings.size_guide_header != blank %}
													<h1>{{ block.settings.size_guide_header }}</h1>
												{% endif %}
												{% if block.settings.size_guide_decription != blank %}
													<p>{{ block.settings.size_guide_decription }}</p>
												{% endif %}
												{%- assign size_guide_image = product.metafields.custom.size_chart_image.value | default: block.settings.size_guide_image -%}
												{% if size_guide_image != blank %}
													<div class="size_guide_image">
														{{
															size_guide_image
															| image_url: width: 1790
															| image_tag:
																loading: 'lazy',
																widths: '553, 895, 1790'
														}}
													</div>
												{% endif %}
												{%- if block.settings.page.content != blank -%}
													{{ block.settings.page.content }}
												{%- endif -%}
											</div>
										</div>
									</modal-dialog>
								{% endif %}
								{%- for value in option.values -%}
									{% assign count = forloop.length %}
								{%- endfor -%}
								{% if optionName == size_text  and block.settings.show_size_guide %}</div>{% endif %}
								<div class="product-form__controls-group {% if settings.type_color_swatch == 'custom' and color_trigger == name_option %}list-choice {% if count > 1 %} list-choice-btn {% endif %}{% endif %}">
									{% if settings.type_color_swatch == 'custom' and color_trigger == name_option %}
									<div class="list-choice-objects">
									{% endif %}
										{% render 'product-variant-options',
											product: product,
											option: option,
											block: block
										%}
										{% if settings.type_color_swatch == 'custom' and color_trigger == name_option %}
											{% if count > 1 %}
												{% render 'icon-arrow-small' %}
											{% endif %}
										{% endif %}
									{% if settings.type_color_swatch == 'custom' and color_trigger == name_option %}
									</div>
									<div class="list-choice-before"></div>
									{% endif %}
								</div>
								{% if settings.type_color_swatch == 'custom' and color_trigger == name_option %}
									<div class="list-choice-before"></div>
									{% endif %}
							</fieldset>
						{%- endfor -%}

						<script type="application/json">
							{{ product.variants | json }}
						</script>
					</variant-radios>
				{% else %}
					{% liquid
						assign name_option = option.name | handle | strip
						assign triggers_raw = settings.trigger_swatch | default: 'Color'
						assign trigger_list = triggers_raw | split: ','
						assign is_color_option = false
						for trigger_item in trigger_list
							assign trigger_handle = trigger_item | handle | strip
							if trigger_handle == name_option
								assign is_color_option = true
								break
							endif
						endfor
						assign color_trigger = name_option
						if is_color_option == false
							assign color_trigger = ''
						endif
					%}
					<variant-selects
						id="variant-selects-{{ section.id }}"
						class="no-js-hidden"
						data-section="{{ section.id }}"
						data-url="{{ product.url }}"
						{% if update_url == false %}
							data-update-url="false"
						{% endif %}
						{{ block.shopify_attributes }}
					>
						{%- for option in product.options_with_values -%}
							{% liquid
								assign name_option = option.name | handle | strip
								assign is_color_option = false
								for trigger_item in trigger_list
									assign trigger_handle = trigger_item | handle | strip
									if trigger_handle == name_option
										assign is_color_option = true
										break
									endif
								endfor
								assign color_trigger = name_option
								if is_color_option == false
									assign color_trigger = ''
								endif
							%}
							{%- if option.name == 'Color' or option.name == 'Colour' -%}{%- continue -%}{%- endif -%}

							{% if settings.type_color_swatch != 'custom'
								or color_trigger != name_option
							%}
								{% liquid
									assign optionName = option.name | escape | downcase
								%}
								<fieldset class="product-form__input product-form__input--dropdown">
									{% if optionName == size_text  and block.settings.show_size_guide %}<div class="product-form__group-size-heading">{% endif %}
									<legend class="product-form__group-name">
										{{ option.name }}
									</legend>
									{% if optionName == size_text  and block.settings.show_size_guide %}
										<modal-opener
											class="no-js-hidden adv-btn-opener"
											data-modal="#PopupModal-{{ block.id }}"
											{{ block.shopify_attributes }}
										>
											<button
												class="button button--simple size-guide-btn"
												id="ProductPopup-{{ block.id }}"
												type="button"
												aria-haspopup="dialog"
												aria-label="Open popup"
											>
												<span class="button-label">{{ block.settings.size_guide_text }}</span>
											</button>
										</modal-opener>
									{% endif %}
									{% if optionName == size_text  and block.settings.show_size_guide %}
										<modal-dialog
											id="PopupModal-{{ block.id }}"
											class="product-popup-modal size_guide_image_container"
											{{ block.shopify_attributes }}
										>
											<div
												role="dialog"
												aria-label="{{ block.settings.label }}"
												aria-modal="true"
												class="product-popup-modal__content"
												tabindex="-1"
											>
												<button
													id="ModalClose-{{ block.id }}"
													type="button"
													class="product-popup-modal__toggle modal-close-button"
													aria-label="{{ 'accessibility.close' | t }}"
												>
													{% render 'icon-close' %}
												</button>
												<div class="product-popup-modal__content-info">
													{% if block.settings.size_guide_header != blank %}
														<h1>{{ block.settings.size_guide_header }}</h1>
													{% endif %}
													{% if block.settings.size_guide_decription != blank %}
														<p>{{ block.settings.size_guide_decription }}</p>
													{% endif %}
													{%- assign size_guide_image = product.metafields.custom.size_chart_image.value | default: block.settings.size_guide_image -%}
													{% if size_guide_image != blank %}
														<div class="size_guide_image">
															{{
																size_guide_image
																| image_url: width: 1790
																| image_tag:
																	loading: 'lazy',
																	widths: '553, 895, 1790'
															}}
														</div>
													{% endif %}
													{%- if block.settings.page.content != blank -%}
														{{ block.settings.page.content }}
													{%- endif -%}
												</div>
											</div>
										</modal-dialog>
									{% endif %}
									{% if optionName == size_text  and block.settings.show_size_guide %}</div>{% endif %}

									<div class="select">
										<select
											id="Option-{{ section.id }}-{{ forloop.index0 }}"
											class="select__select"
											name="options[{{ option.name | escape }}]"
											form="{{ product_form_id }}"
										>
											{% render 'product-variant-options',
												product: product,
												option: option,
												block: block
											%}
										</select>
										{% render 'icon-arrow-small' %}
									</div>
									

								</fieldset>
							{% elsif settings.type_color_swatch == 'custom'
								and color_trigger == name_option
							%}
								{% if color_trigger != name_option %}
									<fieldset class="product-form__input product-form__input--dropdown">
										<legend class="product-form__group-name">
											{{ option.name }}
										</legend>
										<div class="select">
											<select
												id="Option-{{ section.id }}-{{ forloop.index0 }}"
												class="select__select"
												name="options[{{ option.name | escape }}]"
												form="{{ product_form_id }}"
											>
												{% render 'product-variant-options',
													product: product,
													option: option,
													block: block
												%}
											</select>
											{% render 'icon-arrow-small' %}
										</div>
									</fieldset>
								{% else %}
									<div class="product-form__colors-wrapper">
										<fieldset
											class="product-form__input product-form__input--radios js-radio-colors"
											id="SingleOptionSelector-{{ forloop.index0 }}"
										>
											<legend class="product-form__group-name product-form__group-name--top">
												{{ option.name }}
											</legend>
											{%- for value in option.values -%}
												{% assign count = forloop.length %}
											{%- endfor -%}
											<div class="product-form__controls-group list-choice {% if count > 1 %} list-choice-btn {% endif %}">
												<div class="list-choice-objects">
													{% render 'product-variant-options',
														product: product,
														option: option,
														block: block
													%}
													{% if count > 1 %}
														{% render 'icon-arrow-small' %}
													{% endif %}
												</div>
												
											</div>
											<div class="list-choice-before"></div>
										</fieldset>
									</div>
								{% endif %}
							{% endif %}
						{% endfor %}
						<script type="application/json">
							{{ product.variants | json }}
						</script>
					</variant-selects>
				{% endif %}
			</div>
		{% endunless %}

		<noscript class="product-form__noscript-wrapper-{{ section.id }}">
			<variant-selects>
				{%- for option in product.options_with_values -%}
					<fieldset class="product-form__input product-form__input--dropdown {% if product.has_only_default_variant %} hidden{% endif %}">
						<p class="product-form__group-name">{{ option.name }}</p>
						<div class="select">
							<select
								name="id"
								id="Variants-{{ section.id }}"
								class="select__select"
								form="{{ product_form_id }}"
							>
								{%- for variant in product.variants -%}
									<option
										{% if variant == product.selected_or_first_available_variant
										%}
											selected="selected"
										{% endif %}
										{% if variant.available == false %}
											disabled
										{% endif %}
										value="{{ variant.id }}"
									>
										{%- liquid
											echo variant.title
											echo variant.price | money | strip_html | prepend: ' - '
											if variant.available == false
												echo 'products.product.sold_out' | t | prepend: ' - '
											endif
											if variant.quantity_rule.increment > 1
												echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
											endif
											if variant.quantity_rule.min > 1
												echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
											endif
											if variant.quantity_rule.max != null
												echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
											endif
											assign cart_quantity = cart | item_count_for_variant: variant.id
											if cart_quantity > 0
												echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
											endif
										-%}
									</option>
								{%- endfor -%}
							</select>
							{% render 'icon-arrow-small' %}
						</div>
					</fieldset>
				{%- endfor -%}
			</variant-selects>
		</noscript>
	</div>
{% endif %}
